# node / npm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build / dist
build/
dist/

# env files（Firebaseキーなど）
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# OS / Editor
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Excel / CSV 出力（履歴エクスポート系）
*.csv
*.xlsx

# logs
*.log
